@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #EEF5DB;
    transition: background-color 1s ease;
}

.scrolled {
    background-color: #C7EFCF;
}

/* estilo del nav */
.logo{
    cursor: pointer;
    height: 35px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding: 0 30px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    background-color: #fe605593;
    backdrop-filter: blur(2px);
}

.navbar-links{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}


.menu a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

.menu a:hover{
    text-decoration: line-through;
}


/* estilo del header */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C7EFCF;
    padding: 2% 5%;
    margin: 2% 5%;
    height: auto;
    max-width: 100%; 
}

.header img {
    max-height: 50vh;
    margin-right: 20px;
}

.header h1 {
    font-size: 4vw;
    background-color: #C7EFCF;
}

/* estilo de la descripcion */
.description{
    height: 50vh;
    padding: 2% 5%;
}

.description h2{
    font-size: 4vh;
    text-align: center;
    padding-bottom: 20vh;

}

h3{
    font-size: 3vh;
    padding-bottom: 15px;
}

/* Estilo del carrusel */

.carrousel{
    min-height: 800px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.image{
    height: 500px;
    width: 620px;
    background-image: url("./assets/agua.jpg");
    background-size: cover;
}

.slider{
    width: 500px;
}

.previous, .next{
    margin: 0 25px;
    cursor: pointer;
}