*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EEF5DB;
}


/* estilo del nav */
.logo{
    cursor: pointer;
    height: 35px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding:  20px ; */
    height: 8vh;
    margin: 0 30px;
    border-bottom: 1px solid black;
}

.navbar-links{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.menu a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.menu a:hover{
    text-decoration: line-through;
}

.menu a:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
}

/* estilo del header */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C7EFCF;
    padding: 2% 5%;
    margin: 2% 5%;
    height: auto;
    max-width: 100%; 
}

.header img {
    max-height: 50vh;
    margin-right: 20px;
}

.header h1 {
    font-size: 4vw;
    background-color: #C7EFCF;
}

/* estilo de la descripcion */

.description h2{
    font-size: 4vh;
    text-align: center;
}