@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #EEF5DB;
    transition: background-color 1s ease;
}

.scrolled {
    background-color: #C7EFCF;
}

/* estilo del nav */
.logo{
    cursor: pointer;
    height: 35px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding: 0 30px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    background-color: #fe605593;
    backdrop-filter: blur(2px);
}

.navbar-links{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}


.menu a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

.menu a:hover{
    text-decoration: line-through;
}


/* estilo del header */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C7EFCF;
    padding: 2% 5%;
    margin: 2% 5%;
    height: auto;
    max-width: 100%; 
}

.header img {
    max-height: 50vh;
    margin-right: 20px;
}

.header h1 {
    font-size: 4vw;
    background-color: #C7EFCF;
}

/* estilo de la descripcion */
.description{
    height: 50vh;
    padding: 2% 5%;
}

.description h2{
    font-size: 4vh;
    text-align: center;
    padding-bottom: 20vh;

}

h3{
    font-size: 3vh;
    padding-bottom: 15px;
}

/* Estilo del carrusel */

.carrousel{
    min-height: 800px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.image{
    height: 700px;
    width: 620px;
    background-image: url("./assets/agua.jpg");
    background-size: cover;
}

.slider{
    width: 500px;
}

.previous, .next{
    margin: 0 25px;
    cursor: pointer;
}

/* estilo form */
.main-form{
    height: 92vh;
    width: 100%;
    display: flex;
}

.video-form{
    height: 100%;
    width: 50%;
    background-color: black;
}
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form, form{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textarea{
    resize: none;
}


form h2{
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: bold;

}
input, textarea{
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    resize: none;
    margin: 20px 0;
    height: 2rem;
    padding-left: 10px;
}

label{
    width: 100%;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
}

button {
    font-family: inherit;
    font-size: 20px;
    background: black;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
    transform: translateX(5em);
}

button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}